<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @video.name %>
</p>

<p>
  <strong>Video:</strong>
  <iframe width="560" height="315" src=<%= @video.link %> frameborder="0" allowfullscreen></iframe>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
